:root {
  --primary-color: #6725a8;
  --accent-color: #cb11ab;
  --danger-color: #f55123;
  --success-color: #0cb477;
  --background-color: #f6f6fa;
  --white-color: #ffffff;
  --text-primary: #000000;
  --text-secondary: #9797af;
  --text-on-dark: #ffffff;
  --border-color: rgba(0, 0, 0, 0.2);
}